body, h2, form, input, select, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
}

main {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#searchEvent {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
}

.event-box {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.event-header {
  background-color: #2ecc00;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 0.5fr; /* Căn 3 cột đều nhau theo tỉ lệ */
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-header:hover {
  background-color: #27ae60;
}

.ticket-table-wrapper {
  display: none;
  padding: 10px;
  background-color: white;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  padding: 8px 12px;
  text-align: center;
}

.ticket-table th {
  color: blue;
}

.ticket-table td {
  color: #000;
}

.checkin-button {
  background-color: #baffba;
  color: rgb(10, 83, 41);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.checkin-button:hover {
  background-color: #2980b9;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

#pagination button {
  padding: 6px 12px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#pagination button:hover {
  background-color: #2980b9;
}